  a {text-decoration: underline; cursor: pointer;}
  span {cursor: default;}

  .hide {display: none;}

  .right {text-align: right;}
  .master {margin-top: 5px; margin-bottom: 2px; display: block;}
  .white {background-color: white;}
  
  .unit {color: #ccc;} 
  .footer {color: #ccc; font-family: sans-serif;}
  .grey {color: #ddd;}  
  .darker {color: #888;}
  
  .graph {min-height: 500px; min-width: 100px;} 
  
  table.default .noborder {border:none;}
  table.default .noborder-right {border-right:none;} 
  table.default .noborder-left {border-left:none;}
  
  table.default .right20 {margin-right: 20px;} 

  table.default .icon {width: 20px;}
  table.default  .wider {width: 40px;}
  
  table.default .shortertext {width: 70px;}
  table.default .mediumtext {width: 140px;}
  table.default .longertext {width: 200px;}
  table.default .longtext {width: 250px;}
  table.default .verylongtext {width: 350px;}
  
  input.classic {border-width: 1px; border-style: solid; border-color: black;}
  
  hr {border: none; border-top: 1px solid #ccc;}

  h1 {font-size: 22px; font-family: sans-serif; text-transform: uppercase; border-bottom: 2px solid black;}
  
  table.default th, table.default td
  {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
  }
  table.default tr td:first-child {border-right: none;}
  
  #program tr td {text-align: center;}
  #program tr td:first-child {border-right: 2px solid #ddd; text-align: left;}
  #program tr td:nth-child(3) {border-right: 2px solid #ddd;}
  #program tr td:nth-child(10) {border-right: 2px solid #ddd;}
  #program tr td:nth-child(12) {border-right: 2px solid #ddd;}
  #program tr td:nth-child(13) {border-right: none;}
  #program th {text-align: left; color: #999;}
  #program td:first-child {width: 200px;}
  #program th.small, #program td.small {width: 20px;}
  #program th.period, #program td.period {width: 100px;}
  #program th.time, #program td.time {width: 60px;}
  #program th.temp, #program td.temp {width: 80px;}
  #program td.temp {font-size: 20px; text-align: right;}    
  #program th.hyst, #program td.hyst {width: 80px;}
  #program td.hyst {text-align: right;}    
  #program th.but, #program td.but {width: 140px;}
  #program tr.manual td.small {color: #ddd;} 
  #program tr.manual td.period {color: #ddd;} 
  #program tr.manual td.time {color: #ddd;} 

  .program-op label.standard {display:block;}
  .program-op label.checkbox {margin-bottom: 12px;}
  .program-op input {display:block; margin-bottom: 12px; width: 540px; padding: .4em;}
  .program-op input[type=checkbox] {width: 50px;}
  .program-op input[type=time] {display: inline; width: 250px;}
  .program-op input.date {display: inline; width: 250px;}
  .program-op select {display:block; margin-bottom: 12px; width: 554px; padding: .4em;}
  .program-op {padding: 0; border: 0; margin-top: 25px;}
  .program-op h1 {font-size: 1.2em; margin: .6em 0;}
  .program-op .ui-dialog .ui-state-error {padding: .3em;}
  .program-op .validateTips {border: 1px solid transparent; padding: 0.3em;} 

  .floatleft {float: left;}
  .floatright {float: right;}
  .clear {clear: both;}
  .colorbox {clear: both; margin-right: 10px; width: 20px; height: 20px;}
